<style>
  table{
    border-collapse: collapse;
    border:1px solid black;
  }

  th{
    border-bottom:1px solid grey;
    padding:20px;
  }

  td{
    padding:5px;
  }

  .even{
    background-color: #c9aa88;
  }
</style>

<table>
  <tr>
    <th>Nom</th>
    <th>Fournisseur</th>
    <th>Email fournisseur</th>
    <th>Prix</th>
    <th>Liste Ingredients</th>
    <th>Age</th>
    <th>Condition de stockage</th>
    <th>description</th>
    <th></th>
  </tr>
<tr *ngFor ="let listProduct of listProducts; let i = index" [attr.data-index]="i" class="{{i|evenOdd}}">
  <td>{{listProduct.name | uppercase}}</td>
  <td>{{listProduct.provider}}</td>
  <td>{{listProduct.emailProvider}}</td>
  <td>{{listProduct.price | number:".2"}} €</td>
  <td><ul *ngFor ="let listIngredient of listProduct.ingredientsList"><li>{{listIngredient}}</li></ul></td>
  <td>{{listProduct.age}} année</td>
  <td>{{listProduct.conservation}}</td>
  <td>{{listProduct.description | lowercase | slice:0:20 }}</td>
  <td><Button (click)="removeItem(listProduct)">Delete this product</Button></td>
</tr>
</table>

